In [1]:
import pandas as pd
import numpy as np

# 1.Creating a Dataframe from an array

# 1.1 Option 1

In [2]:
# Creating an Array
data = np.array([[1,4],[2,5],[3,6]])

In [3]:
# Creating a DataFrame
df=pd.DataFrame(data,index=['row1','row2','row3'],columns=['col1','col2'])

In [8]:
# Showing the DataFrame
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

## 1.2 Option2

In [5]:
# Creating an Array with List shape
data = [[1,4],[2,5],[3,6]]

In [7]:
# Creating a DataFrame
df=pd.DataFrame(data,index=['row1','row2','row3'],columns=['col1','col2'])

In [9]:
# Showing the DataFrame
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# 2. Creating a DataFrame from a Dictionary

In [10]:
# lists used for this example
states=['California','Texas','Florida','New York']
population=['x','y','z','xyz']

In [11]:
# Storing lists with a dictionary
dict_states={'States':states,'Population':population}

In [13]:
# Creating the DataFrame
df_population=pd.DataFrame(dict_states)

In [15]:
# Showing the DataFrame
df_population

       States Population
0  California          x
1       Texas          y
2     Florida          z
3    New York        xyz

# 3.Creating a DataFrame from a CSV file

In [ ]:
# reading the csv file
df_exams=pd.read_csv('StudentPerformance.csv') #file-name just for ref.

In [ ]:
# show first 5 rows in a dataframe``
df_exams #file-name just for ref.